{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include"}]}.

{deps, [
    {logger_colorful, "0.1.0"},
    {egrpc, {git, "https://github.com/belltoy/egrpc.git", {branch, "main"}}},
    gun
]}.

{shell, [
    {config, "config/sys.dev.config"},
    {apps, [etcdgun]}
]}.

{project_plugins, [
    {rebar3_gpb_plugin, "2.23.2"},
    {rebar3_egrpc_plugin, {git, "https://github.com/belltoy/rebar3_egrpc_plugin.git", {branch, "main"}}}
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{egrpc_opts, [
    {module_name_prefix, "etcdgun_"},
    {module_name_suffix, "_service"},
    {out_dir, "src/clients"},
    {protos, "priv/protos/"}
]}.

{gpb_opts, [
    {module_name_prefix, "etcdgun_"},
    {module_name_suffix, "_pb"},
    {recursive, true},

    {json, true},
    {json_format, maps},
    {json_object_format, map},
    {json_key_format, atom},
    {json_array_format, list},
    {json_string_format, binary},
    {json_null, undefined},

    {f, [
         "rpc.proto",
         "v3election.proto",
         "v3lock.proto"
    ]},
    {i, "priv/protos/"},
    {ipath, "_build/default/plugins/gpb/priv/proto3/"},
    {ipath, "priv/protos/"},
    use_packages,
    {o_erl, "src/protos"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    maps,
    {maps_unset_optional, omitted},
    type_specs
]}.
